@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind doesn't support this out of the box */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 8px;
}
